<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css'>
  <link rel="stylesheet" href="vendor/bulma/css/bulma.min.css" />

  <title>SU Prerequisites</title>

  <link rel='icon' type='image/png' href='../favicon.png'>
  <link rel='stylesheet' href='/global.css'>

</head>

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title">Admin Panel</h3>
          <div class="box">

            <div class="field">
              <button onclick="location.href='/upload';"
                class="button is-block is-info is-large is-fullwidth">Upload Catalog</button>
            </div>

            <div class="field">
              <button onclick="location.href='/delete';"
                class="button is-block is-info is-large is-fullwidth">Delete Catalog</button>
            </div>

            <div class="field">
              <button onclick="location.href='/logout';"
                class="button is-block is-danger is-large is-fullwidth">Logout</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>