<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/vendor/bulma/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>SU Prerequisites</title>

  <link rel='icon' type='image/png' href='/favicon.png'>
  <link rel='stylesheet' href='/global.css'>

  <script>
    setParams = () => {
      var term = document.getElementById('term').value;
      var uploadPath = 'delete?term=';
      var action = uploadPath + term;
      document.getElementById('form').action = action;
    }
  </script>

</head>

<body>


  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title">Delete Catalog</h3>
          <div class="box">
            <form id="form" method="POST" class="field">

              <!-- <div class="field">            
                <div class="select is-large ">
                  <select>
                    <option>Select Term</option>
                  </select>
                </div>
              </div> -->

              <div class="field">
                <div class="control">
                  <input class="input is-large" type="number" id="term" name="term" placeholder="Term">
                </div>
              </div>

              <div class="field">
                <button onclick="setParams()" type="submit" class="button is-block is-danger is-large is-fullwidth">
                  Delete</button>
              </div>
            </form>

            <div class="field">
              <button onclick="window.history.go(-1); return false;"
                class="button is-block is-link is-large is-fullwidth">Go Back</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>