<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/vendor/bulma/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>SU Prerequisites</title>

  <link rel='icon' type='image/png' href='/favicon.png'>
  <link rel='stylesheet' href='/global.css'>


  <script>

    closeModal = () => {
      document.getElementById("modal").getElementsByTagName("article")[0].className = "";
      location.href = '/admin';
    }

    async function sendFile() {
      var term = document.getElementById('term').value;
      var uploadPath = 'upload?term=';
      var action = uploadPath + term;

      const AMBIGUOUS = document.getElementById("ambiguous").value;
      const UNSATISFIABLE = document.getElementById("unsatisfiable").value;

      const form = document.getElementById("form")

      try {
        const body = new FormData(form)
        // body.append("file", void(0))
        const response = await (await fetch(`/upload?term=${term}&ambiguous=${AMBIGUOUS}&unsatisfiable=${UNSATISFIABLE}`, {
          method: "POST",
          body
        }))
          .json();

        const modal = document.getElementById("modal");
        const container = modal.getElementsByTagName("article")[0];
        const status = response.isSuccess ? "is-success" : "is-danger";
        container.classList.add("message"); container.classList.add(status);


        modal.getElementsByTagName("p")[0].textContent = response.isSuccess ? "Success" : "Error";
        document.getElementById("message-body").textContent = response.message;
        modal.classList.add('is-active')


        // modal.getElementsByTagName("h4")[0].textContent = response.isSuccess ? "Success" : "Error";
        // modal.getElementsByTagName("span")[0].textContent = response.message;
        // // show the text box thing if we have errors to display
        // modal.getElementsByTagName("pre")[0].style.display = response.errors ? undefined : "none";
        // modal.getElementsByTagName("pre")[0].textContent = JSON.stringify(response.errors, undefined, 2);

        modal.classList.add('is-active');
      } catch (e) {
        console.error(e)
      }
    }
  </script>

</head>

<body>

  <div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <article class="message">
        <div class="message-header">
          <p></p>
        </div>
        <div class="message-body" id="message-body"></div>
      </article>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
  </div>

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title">Upload Catalog</h3>
          <div class="box">
            <form id="form" method="POST" enctype="multipart/form-data" class="field">


              <div class="field">
                <div class="file is-large is-boxed has-name" id="selector">
                  <label class="file-label" id="parent">
                    <span style="display: none;"></span>
                    <input class="file-input" type="file" name="file" id="file">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fa fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Select Catalog
                      </span>
                    </span>
                    <script>
                      document.getElementById('file').onchange = function () {
                        var span = document.createElement("span");
                        var text = document.createTextNode(document.getElementById('file').files.item(0).name);
                        span.className = "file-name"; span.appendChild(text);
                        var parent = document.getElementById('parent');
                        parent.removeChild(parent.firstElementChild);
                        document.getElementById('parent').appendChild(span);
                      };
                    </script>
                  </label>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" type="number" id="term" name="term" placeholder="Term">
                </div>
              </div>

              <div class="field" style="flex-direction: row;">
                <label class="checkbox">
                  <input type="checkbox" name="ambiguous", id="ambiguous">
                  Ambiguous
                </label>

                <label class="checkbox">
                  <input type="checkbox" name="unsatisfiable", id="unsatisfiable">
                  Unsatisfiable
                </label>
              </div>

              <div class="field">
                <button onclick="sendFile()" type="button" class="button is-block is-primary is-large is-fullwidth">
                  Upload</button>
              </div>
            </form>

            <div class="field">
              <button onclick="window.history.go(-1); return false;"
                class="button is-block is-link is-large is-fullwidth">Go Back</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>